*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    height: 1500px;
}
.header-dark {
    background-size:cover;
    padding-bottom:10px;
}

.header-dark .navbar {
    background:transparent;
    padding-top:0;
    padding-bottom:0;
    color:#fff;
    border-radius:0;
    box-shadow:none;
    border:none;
  }

  
.header-dark .navbar .navbar-brand {
    font-weight:bold;
    color:#422c22;
    padding-left: 15%;
}
  
.header-dark .navbar .navbar-brand:hover {
    color:#815f51;
}
  
.header-dark .navbar .navbar-collapse span {
    margin-top:5px;
}
  
.header-dark .navbar .navbar-collapse span .login {
    color:#815f51;
    margin-right:.5rem;
    text-decoration:none;
}
  
.header-dark .navbar .navbar-collapse span .login:hover {
    color:#422c22;
}
  
.header-dark .navbar .navbar-toggler {
    border-color:#747474;
}
  
.header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
    background:none;
}
  
.header-dark .navbar .navbar-toggler {
    color:#eee;
}
 
.header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
    background:#d3b6ab;
    border-radius:20px;
    font-size:inherit;
    color:#f9f5e3;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:.5rem .8rem;
    transition:background-color 0.25s;
}
  
.header-dark .navbar .action-button:hover {
    background:#644234;
}
  
.header-dark .hero {
    margin-top:60px;
}
  
.header-dark .hero h1 {
    color:#422c22;
    font-family:'Bitter', serif;
    font-size:56px;
    margin-top:20px;
    margin-bottom:80px;
    font-weight: bold;
    text-shadow: -3px 0 #fff, 0 3px #fff, 3px 0 #fff, 0 -3px #fff; 

}
#navcol-1 span{
    margin-top: 5px;
    padding-left: 60% ;
}

nav{
    background-color: #36241c;
    padding-left: 20%;
    padding-right: 20%;

}
main{
    background-color: #fff;
    padding-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    min-height: 1200px;
}

footer{
    padding: 10px 20%;
    background-color: #36241c;
    color: #e6d5ce;
    margin-top: auto;
}
i{
    font-size: 20px;
    padding: 10px;
}
