*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    height: auto;
}
.header-coffee {
    background-size:cover;
    padding-bottom:10px;
}

.header-coffee .navbar {
    background:transparent;
    padding-top:0;
    padding-bottom:0;
    border-radius:0;
    box-shadow:none;
    border:none;
  }
  
.header-coffee .navbar .navbar-brand {
    font-weight:bold;
    color:#422c22;
    text-shadow: 1px 1px #F0E5E1;
    padding-left: 5%;
}

.header-coffee .navbar .navbar-brand:hover {
    color:#644234;
}

.header-coffee .navbar .navbar-nav .nav-link{
    color: #F9F5F3;
}
.header-coffee .navbar .navbar-toggler {
    border-color:#422c22;
    background-color: #422c22;
}
  
.header-coffee .navbar .navbar-toggler:hover, .header-coffee .navbar-toggler:focus {
    background:none;
    background-color: #644234;
}
 
.header-coffee .navbar .action-button, .header-coffee .navbar .action-button:active {
    background:#36241C;
    border-radius:20px;
    font-size:inherit;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:.5rem .8rem;
    margin: 5px;
    transition:background-color 0.25s;
}
  
.header-coffee .navbar .action-button:hover {
    background:#644234;
}
  
.header-coffee .title{
    margin-top:60px;
}
  
.header-coffee .title h1 {
    color:#36241C;
    font-family:'Bitter', serif;
    font-size:56px;
    margin-top:20px;
    margin-bottom:80px;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    text-shadow: 1px 0px 20px #D3B6AB, #F0E5E1 2px 2px;

}
#navcol-1{
    margin-top: 5px;
}

nav{   
    background-color: #36241c;
    padding-left: 20%;
    padding-right: 20%;
}
main{
    background-color: #fff;
    padding-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

footer{
    position: static;
    padding: 10px 20%;
    background-color: #36241c;
    color: #E6D5CE;
    margin-top: auto;
}

i{
    font-size: 20px;
    padding: 10px;
}

form{
    padding-bottom: 10px;
}


